.black{
    background-color: #000000;
    font-style: italic;
}
.border{
    border:1px solid darkgoldenrod;
    border-radius: 20px;
}
.container-fluid{
    padding: 4vw;
}
.card-img-top{
    padding: 20px;
}
