<div class="container-fluid black">
  <div class="row">
   
      <div class="col-12 col-md-6">
      <div class="card" [routerLink]="['/region-name/africa']">
        <img class="card-img-top" src="https://raw.githubusercontent.com/Keerthana-Bolloju/RestCountries/master/assets/africa.jpg" alt="Card image cap">
        <h5 class="card-header text-center">Africa</h5>
      </div>
      </div>
      
      <div class="col-12 col-md-6">
      <div class="card" [routerLink]="['/region-name/americas']">
        <img class="card-img-top" src="https://raw.githubusercontent.com/Keerthana-Bolloju/RestCountries/master/assets/americas.jpg" alt="Card image cap">
        <h5 class="card-header text-center">Americas</h5>
      </div>
      </div>

      <div class="col-12 col-md-6">
      <div class="card" [routerLink]="['/region-name/asia']">
        <img class="card-img-top" src="https://raw.githubusercontent.com/Keerthana-Bolloju/RestCountries/master/assets/asia.png" alt="Card image cap">
        <h5 class="card-header text-center">Asia</h5>
      </div>
      </div>
      
      <div class="col-12 col-md-6">
      <div class="card" [routerLink]="['/region-name/europe']">
        <img class="card-img-top" src="https://raw.githubusercontent.com/Keerthana-Bolloju/RestCountries/master/assets/europe.jpg" alt="Card image cap">
        <h5 class="card-header text-center">Europe</h5>
      </div>
      </div>
      
      <div class="col-12 col-md-6">
      <div class="card" [routerLink]="['/region-name/oceania']">
        <img class="card-img-top" src="https://raw.githubusercontent.com/Keerthana-Bolloju/RestCountries/master/assets/oceania.gif" alt="Card image cap">
        <h5 class="card-header text-center">Oceania</h5>
      </div>
      </div>
    
  </div>
</div>